In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('supershops.csv')

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Normalization

In [ ]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler()

In [ ]:
df[['Marketing Spend']] = m.fit_transform(df[['Marketing Spend']]) 
df[['Administration']] = m.fit_transform(df[['Administration']])
df[['Transport']] = m.fit_transform(df[['Transport']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Standard Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [ ]:
df = pd.read_csv('supershops.csv')

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
df[['Marketing Spend']] = scaler.fit_transform(df[['Marketing Spend']]) 
df[['Administration']] = scaler.fit_transform(df[['Administration']])
df[['Transport']] = scaler.fit_transform(df[['Transport']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   2.165287    Dhaka  192261.83
1         1.955860        1.082807   1.929843      Ctg  191792.06
2         1.754364       -0.728257   1.626191  Rangpur  191050.39
3         1.554784       -0.096365   1.417348    Dhaka  182901.99
4         1.504937       -1.079919   1.273550  Rangpur  166187.94

# Max abs scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

In [ ]:
df = pd.read_csv('supershops.csv')

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
mscaler = MaxAbsScaler()

In [ ]:
df[['Marketing Spend']] = mscaler.fit_transform(df[['Marketing Spend']]) 
df[['Administration']] = mscaler.fit_transform(df[['Administration']])
df[['Transport']] = mscaler.fit_transform(df[['Transport']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.749527   1.000000    Dhaka  192261.83
1         0.983359        0.828805   0.940893      Ctg  191792.06
2         0.927985        0.553781   0.864664  Rangpur  191050.39
3         0.873136        0.649738   0.812235    Dhaka  182901.99
4         0.859438        0.500378   0.776136  Rangpur  166187.94

# Robust Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [ ]:
df = pd.read_csv('supershops.csv')

In [ ]:
from sklearn.preprocessing import RobustScaler
rscaler = RobustScaler()

In [ ]:
df[['Marketing Spend']] = rscaler.fit_transform(df[['Marketing Spend']]) 
df[['Administration']] = rscaler.fit_transform(df[['Administration']])
df[['Transport']] = rscaler.fit_transform(df[['Transport']])

In [ ]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.672530        0.345355   1.552016    Dhaka  192261.83
1         1.452113        0.697565   1.383714      Ctg  191792.06
2         1.303634       -0.524290   1.166654  Rangpur  191050.39
3         1.156567       -0.097977   1.017368    Dhaka  182901.99
4         1.119836       -0.761543   0.914576  Rangpur  166187.94